[2014-10-17 16:22] kenips opened #1 "Can this be used in my environment.js?"
If I want to use this in my environment.js, do is have to copy all of index into my env.js? Also how to set `ENV.APP.X` directly?

[2014-11-03 21:15] fivetanley opened #2 "server and client whitelists"
to prevent some keys from showing up on the client.

[2014-11-04 14:03] kenips opened #3 "Cannot read property 'options' of undefined"
Not sure if I've missed anything but seems like `this.app` is undefined inside the config hook in my app?

[code]

[2014-11-11 18:37] #1 closed, assigned to nobody

[2014-11-14 19:54] #2 closed, assigned to nobody

[2014-11-14 20:34] #3 closed, assigned to nobody

[2015-02-12 01:12] zilkey opened #4 "process.env variables are not available to config/environment.js on boot"
I have a config/environment.js file that looks like this:

[code]

When I boot my ember app, process.env.ADAPTER_URL is not set.  Only after I change something in `config/environment.js` and force a re-compilation of that file will my app work.

The issue is that on https://github.com/fivetanley/ember-cli-dotenv/blob/master/index.js#L5 the plugin bails if there is no app.  But in order for there t

[2015-02-12 01:15] fivetanley commented on #4
I have no idea what the right answer is here. I'm open for anything that works! We can bump via semver so we don't break existing user's apps if they're using the carrot or tilde operator in npm. #1 sounds good to me, but I'm not sure the right hook to get it. We definitely need the `this.app` stuff so we can load the right file based off the app's path.

[2015-02-12 01:26] zilkey commented on #4
OK - I think that PR should do it.

Basically here's what happened (correct me if I'm wrong):

- dotenv loads things into process.env (server keys + client keys)
- this package does an extra step of loading those keys directly onto our environments, so we can do the following without mucking with our config
[code]
- the docs are out-of-date, and so lots of developers probably still have this code:

[2015-02-18 06:43] #4 closed

[2015-06-02 17:01] seawatts opened #7 "FEATURE: Add ability to have ember-cli watch the .env for changes"
It would be nice to be able to have ember-cli watch the .env file for changes and then reload the server.

[2015-07-08 17:11] brandonjmckay opened #8 "Warning of missing .env file"
I specified a `.env.development` style `.env`, one for each environment.

But when I ran the server, I got these warnings:

[code]

Seems like you shouldn't get this error unless there is an environment without a `.env` file defined, and that it should say something more to that effect.
Possibly _only_ when running that environment as well.

This message got printed out many times, so it added a l

[2015-07-20 14:36] poteto commented on #8
I have the same issue.

[2015-07-31 16:27] blimmer commented on #8
Ditto.

[2015-07-31 17:43] idautocfator opened #9 "Need option to avoid validating paths assigned to js/css inclusions"

[2015-07-31 17:48] #9 closed

[2015-08-20 16:10] Kulja commented on #8
Same problem here.

[2015-08-27 15:15] fivetanley commented on #8
Fixed by https://github.com/fivetanley/ember-cli-dotenv/pull/10

[2015-08-27 15:15] #8 closed

[2015-08-27 15:15] fivetanley commented on #8
In 1.0.2

[2015-09-03 16:54] bashmach commented on #8
Hi Stanley!

Your fix is not working.

`fs.existsSync` should be checked first in [this condition](https://github.com/fivetanley/ember-cli-dotenv/blob/master/index.js#L31).

I would have sent a PR to fix it, but I think it can be fixed with merge of #11.

[2015-09-18 08:45] roosnic1 opened #14 "Use ember-cli-dotenv with travis-ci.org"
Thanks for this great ember-cli addon. I was wondering if there is a possibility to use this with an automatic build system like travis-ci.org. In travis-ci.org I have the possibility to add Environment Variables which can be accessed during the build. Do you already have a best practise way how to do this?

Thanks already for your time and answer.

[2015-10-12 07:47] devinus opened #17 "Use dotenv's `silent` option rather than using your own exists checking"

[2015-11-18 10:14] Dracks opened #18 "Generic .env file with specific .env for environments?"
Hello,

I'm using this plugin since some time ago, and now I see that if you have a .env file, and other for a concrete environment, it only loads the generic .env, and specific environment file don't load attributes if they are in generic .env. I think should be better if you can have a .env file with generic configuration, and the specific environment file overwrite the generic configuration. It

[2015-11-25 21:49] fivetanley commented on #18
It might be less confusing to have the environment file be able to take an array of files; I think having a main/other environments is fine, but having a convention of loading both can be really confusing if it's done by convention.

[2015-11-25 21:52] fivetanley commented on #14
Hey sorry for the late delay. I get a lot of Github emails from my other projects so I miss some sometimes.

Adding environments to the project on Travis CI should be enough I think. That way they will be available in `process.env` in node. ember-cli-dotenv is really only meant as a developer convenience.

I like to use .travis.yml to add these environment variables, or the web interface. If you h

[2015-11-25 21:56] Dracks commented on #18
Yes, but actually, it's loading the two files, but with priority to generic file configuration. The thing is in that case, the priority should have the specific configuration. Something more like inheritance.

[2016-02-27 08:18] elwayman02 opened #19 "New release"
@fivetanley any chance of a new release with the version upgrades now?

[2016-03-18 18:50] #14 closed

[2016-03-18 18:52] fivetanley commented on #19
1.2.0 is out! Sorry for the delay.

[2016-03-18 18:52] #19 closed

[2016-07-01 20:36] duro opened #22 "Trying to understand the value of this"
I'm trying to understand the value of this for ember client side applications. I get that having a .env file helps you to keep from having to include the file in your repo, and is a good place to put secure keys.

However, with a client side application, those keys are exposed in plain text no mater what via the environment meta, and even if that was not how Ember handled it, they would be exposed

[2016-07-01 20:37] duro commented on #22
Perhaps just to make it easier for the values to be different for each engineer working on the project locally, and avoid repo conflicts?

[2016-07-27 14:11] renefs87 commented on #22
For me, this is useful because we have several environments: test, qa, production... and each on of those have different configurations for several things (e.g. different backend locations).

[2016-08-30 06:09] nightire opened #23 "Question about use ember-cli-dotenv for other ember addons"
According to documentation:

It's great, but I don't know how exactly it works, let me explain:

Suppose I'm on developing an addon (or engine in near future), and for sure it will be used in an existed app. The app has already uses ember-cli-dotenv, how addon shares those env variables from target app?

I can imagine like:
1. Use ember-cli-dotenv in addon as well, use same settings as app already

[2016-11-23 12:20] lolmaus opened #24 "FastBoot support"
Hi!

I'm trying to use `ember-cli-dotenv` with FastBoot.

My goal is to pass a private key to the FastBoot-driven app without letting the key appear in the public app's source.

With FastBoot, the `clientAllowedKeys` seems to be ignored: all vars from `.env` end up in the source even if they're not listed in `clientAllowedKeys`.

[2016-11-23 15:36] lolmaus opened #25 "Picking a specific dotenv file via CLI param"
Hi!

I find splitting dotenv files by environment to be very restricting. I've seen whole blog posts arguing that it's a bad practice.

Instead, I organize my dotenv files by deploy target, e. g. development, staging, production. This unleashes my debugging capabilities, letting me make production builds against a local server and unminified builds against production server.

To achieve that, I us

[2017-05-25 16:26] QuantumInformation opened #26 "Installing gives errors somekey is not defined"
I tried `ember install ember-cli-dotenv`

But get:
![image](https://cloud.githubusercontent.com/assets/216566/26459684/31ea8312-416f-11e7-8803-c5bb1d799f14.png)
![image](https://cloud.githubusercontent.com/assets/216566/26459693/3a2fe4fe-416f-11e7-97eb-77c22b8f10c1.png)

[2017-05-25 16:27] QuantumInformation commented on #22
yeah good points

[2017-05-25 17:00] #26 closed

[2017-05-30 02:53] fivetanley commented on #23
Hi,

These are some great points.

I think ember-cli-dotenv maybe only belongs in the parent application. That way addons only have to rely on environment variables rather than installing this addon. They can share them by using `process.env` in the addon and adding it to the config.js in their addon hooks.

[2017-05-30 02:53] #23 closed

[2017-05-30 02:56] fivetanley commented on #24
Hi @lolmaus. Do you have a reproduction project? Unfortunately I'm not using this with any FastBoot projects at the moment.

[2017-05-30 02:56] fivetanley commented on #25
Hi @lolmaus.

I agree that this would be an awesome feature! Do you have time to write a PR for it?

[2017-05-30 02:58] fivetanley commented on #22
That's right. This addon has the ability to have a safelist for keys (see this section in the README):

This addon helps you protect keys by helping you not check them into Git, Github, or other version control systems, which is where keys typically leak out. Instead, you can use a `.env` file which is not checked into version control.

[2017-05-30 02:58] #22 closed

[2017-05-30 02:59] fivetanley commented on #22
@duro The 12 factor site goes into this in a bit better detail https://12factor.net/config

[2017-06-01 13:35] davidkiser opened #27 "ignore exports in variable defs"
This is really just a feature request,  we typically need exports in our envs that we feed to other systems, and would like to be able to use the same env across systems for simplicity sake.  Right now,  if the .env (what we use on a rails system) contains an 'export' directive,  it will cause ember-cli-dotenv to not pick up the value

So,  this does not work for a .env
export KEY=blah

where this

[2017-06-05 15:47] fivetanley commented on #27
Hi @davidkiser,

I agree this is a really useful feature and I was surprised to see you had opened this issue. I had assumed [dotenv](https://github.com/motdotla/dotenv) (the library we depend on for .env functionality) did this already, but it turns out they don't.

Unfortunately, it doesn't look like they want to support this functionality either. :( I don't have the time to fork or maintain a f

[2017-06-05 15:47] #27 closed

[2017-06-09 08:06] jeffrey008 opened #28 "Make .env.production effective on ember s -prod"
Currently when I do `ember s -prod` the app doesn't use the settings in `.env.production`. Only when I do `ember build -prod` the app will use `.env.production` settings.

It would be nice if `ember s -prod` can also use the `.env.production`.

[2017-09-17 15:52] SergeAstapov commented on #24
@kratiahuja do you mind to share some thoughts on this issue? I faced the same issue and I'd like to contribute to the addon to support that feature but have a difficult time thinking about how to integration this into ember-cli-fastboot

[2017-09-17 19:53] kratiahuja commented on #24
How about write it to the package.json of Fastboot as part of the app config? I am working on exposing an API on fastboot where you can write additional config at build time and read it in Fastboot via FastBoot.config

[2017-09-17 22:08] SergeAstapov commented on #24
That would work and that's what I;d like to achieve!
The main problem here is: how to make some config to appear in package.json and **do not appear** in `<meta name="{{modulePrefix}}/config/environment">`?
I see that package.jsom is populated with the same content as `<meta name="{{modulePrefix}}/config/environment">` at build time (according to [ember-cli-fastboot/index.js](https://github.com/em

[2017-09-17 22:29] kratiahuja commented on #24
Yes. You don't need to create config/environment module. you can just write key value pair in the config.

[2017-09-17 23:44] kratiahuja commented on #24
@SergeAstapov it might be best to discuss this over slack. My point is `package.json` generated is never shipped to the browser so you could always write the contents in there and expose it in the server side app. Example is `hostWhitelists` in package.json as well.

[2017-09-18 00:46] SergeAstapov commented on #24
@kratiahuja seems that I was confused by example in `README.md` from https://github.com/ember-fastboot/ember-cli-fastboot/pull/515 PR:

and did not pay attention to the fact that `'<engine-name>/config/environment'` would be a key on `appConfig` and available in the app in FastBoot mode via
[code]

Now I've the idea and would proceed with PR to `ember-cli-dotenv` with `fastbootConfigTree` hook sup

[2017-09-18 00:50] kratiahuja commented on #24
@SergeAstapov `fastbootConfigTree` hook hasn't landed yet. You would need to wait for it to land and then use it with checking the minimal version of ember-cli-fastboot that supports the hook in the host app.

[2017-09-18 01:04] SergeAstapov commented on #24
@kratiahuja thanks for note about checking the minimal version of ember-cli-fastboot!
We'll need to mention in PR that it can land only after https://github.com/ember-fastboot/ember-cli-fastboot/pull/515 is merged and new releases of fastboot and ember-cli-fastboot are out.

Similar way how you cross linked PR's between fastboot and ember-cli-fastboot.

[2017-10-08 08:50] lolmaus opened #30 "This addon is incompatible with ember-cli@2.16.0-beta.2+"
Hi.

~~Suddenly~~ After updating to `ember-cli@2.16.0-beta.2`, `ember-cli-dotenv` stopped passing environment variables. In `config/environment.js`, `process.env` does not contain env vars from the dot-env file.

~~This happened to existing commits that have been working previously. My [app](https://travis-ci.org/bread-maker/bread-maker-ember-frontend) uses Yarn with a proper lockfile, so I think

[2017-10-08 09:07] lolmaus commented on #30
Tried running addon tests, but they fail with `Uncaught TypeError: $ is not a function`.

[2017-10-08 10:16] lolmaus commented on #30
OK, I've figured it out. The problem is caused by this PR in `ember-cli`: https://github.com/ember-cli/ember-cli/pull/7333

Before this PR, my app's `environment.js` and `ember-cli-dotenv`'s [config hook](https://github.com/fivetanley/ember-cli-dotenv/blob/master/index.js#L6-L54) are executed multiple times alternately

After the PR, each is executed only once -- and `environment.js` goes first. T

[2017-10-08 11:26] lolmaus commented on #30
Uhm... Turns out I don't need this addon. O-o

I replaced it with:

* `ember-cli-build.js`: `dotenv.config({path})`
* `config/environment.js`: `envVars: _.pick(process.env, ['MY_ALLOWED_KEY'])`

And it works correctly in `ember-cli@2.16.0-beta.2`.

[2017-10-10 08:15] jeffrey008 commented on #30
Hi @lolmaus can you be more specific about that? I am upgrading ember-cli to 2.16 and this starts breaking. :(
You said you don't need this addon and did some replacements. Please teach me

[2017-10-10 09:18] lolmaus commented on #30
@jeffrey008

1. In terminal:

[code]

2. In your `ember-cli-build.js`, do this:

[code]

	This will make env vars from your dotenv file available in the `process.env`.

3. In your `config/environment.js`, do this:

[code]

4. Then in your app you can do this:

[code]

[2017-10-11 14:31] rmachielse commented on #30
I think it would still be nice to fix this addon. Do you also notice the config is being corrected when you save the `config/environment.js` file (even without changes)? The application then reloads with correct values

[2017-10-12 15:30] bradhaydon commented on #30
@rmachielse I am also experiencing the same problem. I would also greatly appreciate if someone would be able to fix this addon.

[2017-10-12 16:42] sumeetattree commented on #30
I am facing the same issue as of ember-cli 2.16. `env` variables aren't picked up on their own. A temporary workaround is to save your `environment.js` while `ember s` is running. This should pick up the environment variables.

[2017-10-12 18:10] SergeAstapov commented on #30
For ember-cli@2.16+ we should use `clientAllowedKeys` in `ember-cli-build.js` as described in docs:

This works fine and env variables listed in `clientAllowedKeys` are get populated in `<app name>/config/environment`.

Following not gonna work for ember-cli@2.16+

@lolmaus could you please try following steps for your use case:
1. In your ember-cli-build.js, do this:
[code]
import ENV from '<your

[2017-10-12 19:09] SergeAstapov commented on #30
Failing build is addressed in #29

[2017-10-12 19:42] sumeetattree commented on #30
@SergeAstapov I have tried making changes as you suggested. My `ember-cli-build.js` file:
[code]
Things to note:
* I am using `fingerprinting` as a part of `ember-cli-deploy` development workflow. That's what that `development-postbuild` key is for. I am just testing things out here.
* I do not have a main `.env` file. `console.log(process.env)` in `ember-cli-build.js` does not print any of the en

[2017-10-12 20:05] SergeAstapov commented on #30
@sumeetattree are you able to access any of variables listed in `clientAllowedKeys` within your Ember app code? e.g. in some adapter like
[code]

I actually was not using `process.env` in `ember-cli-build.js` file and I'm not sure it's supposed to work that way. Was it working for you for ember-cli <= 2.15?

[2017-10-12 22:21] sumeetattree commented on #30
@SergeAstapov

After running `ember s` for the first time, no.
[code]
Only after I hit save in `environment.js` after `ember s` and wait for the server to reload is when I see the environment variables. If I refresh the browser without waiting for the server to auto reload I am back to square one. And then you have to repeat the process.

Yes this was working for `ember-cli <= 2.15`.

[2017-10-13 04:26] jeanduplessis commented on #30
@SergeAstapov while I can confirm that the values from our .env file gets added to environment config, we were previously using `process.env.KEY_NAME` in environment.js to set variables in a structure that other addons might expect.

For example ember-intercom-api expects you to set the following:
[code]

and we were setting it as such:
[code]

Also we don't use .env files on our production server

[2017-10-17 16:45] jamesdixon commented on #30
I was able to use @lolmaus fix, but unfortunately, it causes problems with `ember-cli-deploy`. `ember-cli-deploy` has built-in .env support and will pick the correct .env file based on the configuration. Unfortunately, adding the `dotenv.config()` statements manually seems to choose the default `.env` file regardless.

A fix is needed for this package. I'm going to look into it.

[2017-10-17 16:57] jamesdixon commented on #30
@SergeAstapov I tried your fix with `clientAllowedKeys` and no go. I've been using the addon up until 2.16 without `clientAllowedKeys` with no problem. I actually prefer not having to use that key to selectively import keys.

[2017-10-17 18:04] SergeAstapov commented on #30
@jamesdixon @jeanduplessis seems I do have a fix - as some extra caching has been implemented for Ember CLI file `.env` should be read from file system at earlier stage.

Committed fix to https://github.com/fivetanley/ember-cli-dotenv/pull/29 that allows to access `process.env.INTERCOM_APP_ID` from within `/config/environment`.

Could @jamesdixon @jeanduplessis you try this via `npm install SergeA

[2017-10-17 18:30] jamesdixon commented on #30
@SergeAstapov thank you! I'll give it a shot

[2017-10-17 19:06] jamesdixon commented on #30
@SergeAstapov unfortunately, this oddly still doesn't work for me.

If I do a `console.log(ENV)` in the last line of my `environment.js` file right before the `return`, I can see the keys I've allowed in `clientAllowedKeys' being made available, but they're still undefined when accessing them through my app...

Any thoughts?

[2017-10-17 19:15] jamesdixon commented on #30
@SergeAstapov i actually just reverted to the latest version of the original addon and am still seeing the behavior i mentioned above. that said, was your branch up to date or maybe just had no affect overall?

I did add a logging statement to my `environment.js` file to log the `API_URL` variable and see that it attempt to output it 3 times. I'm not sure if this is just Ember cycling through envi

[2017-10-17 19:23] jamesdixon commented on #30
If I log out the contents of my `environment` within the app, none of the keys I have set that reference an environment variable are present.

[2017-10-17 19:37] SergeAstapov commented on #30
@jamesdixon could you ping me in Slack? I wonder if I missing anything - it works fine for me and [dummy app config](https://github.com/SergeAstapov/ember-cli-dotenv/blob/update-ember-cli/tests/dummy/config/environment.js#L50) seems to pass [the test](https://github.com/SergeAstapov/ember-cli-dotenv/blob/update-ember-cli/tests/integration/smoke-test.js#L17) with no issues.

[2017-10-17 19:41] jamesdixon commented on #30
@SergeAstapov ember slack channel?

Regarding the dummy app config, have you tried accessing `IN_PROCESS_ENV` in the code somewhere (not just in the test)?

[2017-10-17 20:42] jeanduplessis commented on #30
@SergeAstapov unfortunately the fix on your branch isn't working for me.

Here's the output from logging a process.env variable in config/environment.js:

__1.2.0__
[code]

__SergeAstapov/ember-cli-dotenv#update-ember-cli__
[code]

While the value is eventually set, when running your branch with the fix, unfortunately it doesn't seem to be set by the time Ember reads the values to write it to the

[2017-10-17 22:51] SergeAstapov commented on #30
@jeanduplessis for some reason `ember build` and `ember s` works differently:
1. define a variable `SOME_VAR_NAME` in `.env` like
[code]
2. install addon from `SergeAstapov/ember-cli-dotenv#update-ember-cli`
3. change `config/environment.js` like
[code]

After these steps do `ember build` and you should see `process.env.SOME_VAR_NAME` variable value in meta tag in the `dist/index.html` file:
[code

[2017-10-18 07:17] jeanduplessis commented on #30
@SergeAstapov thanks for all your effort on this. I'm likely going to have to consider some alternative approaches to dealing with our specific requirements. I think that in the light of your findings and improvements this issue can likely be closed off - maybe a note in the README file about not relying on process.env.XXX will suffice.

[2017-10-18 21:47] fivetanley commented on #30
@SergeAstapov I think that sounds fine. Maybe we should recommend using `dotenv` directly in either ember-cli-build.js or config/environment.js as an alternative to using this addon in the README?

Would you or @lolmaus like commit bit/npm rights on this addon? I'm not actively using/working on it anymore.

[2017-10-18 22:23] jasonmit commented on #30
I have a fork going right now that moves the configuration out of ember-cli-build, which resolves this issue for now.  https://github.com/jasonmit/ember-cli-dotenv

Readme diff summarizes the changes: https://github.com/jasonmit/ember-cli-dotenv/commit/b055555270217bec671f97d78f90b8d6181641cd#diff-04c6e90faac2675aa89e2176d2eec7d8

[2017-10-19 03:47] SergeAstapov commented on #30
@fivetanley sounds good to me, would be glad to help!

Approach suggested by @jasonmit with dotenv.js config file in project root would solve the issue.

@jasonmit was you able to access env name within `init` hook of addon? [`this.env` on line #26](https://github.com/jasonmit/ember-cli-dotenv/blob/master/index.js#L30) evaluates to `undefined` for me, as a result it does not support per environmen

[2017-10-19 04:07] SergeAstapov commented on #25
@lolmaus running `ember s --dotenv .env-production` produces a warning from ember-cli:
[code]

Do you see any problem using env variable instead of command option, e.g. `EMBER_DOTENV=.env-production ember s`?

Approach with env variable would also allow to solve problem with #30 - seems there is POC for the solution, but problem is that we can not access environment name as the early stage of addo

[2017-10-19 20:10] jasonmit commented on #30
@SergeAstapov I just released 2.0.1 to resolve this.  Thanks for pointing that out.

[2017-10-23 22:16] fivetanley commented on #30
@jasonmit I added you and @SergeAstapov as collaborators on this repo. a 2.x release sounds great. It sounds like you have solved the issues on your fork? Feel free to merge those in.

[2017-10-26 09:56] oxodesign commented on #30
@jasonmit @SergeAstapov will you create a pull request and fix the issue here as well?

[2017-10-27 05:00] jasonmit commented on #30
@oxodesign it's in master and will be published soon.

[2017-10-30 06:23] jeanduplessis commented on #30
PS: just to let you know I'm running master and its working beautifully. Thanks @jasonmit

[2017-11-02 21:22] bravo-kernel commented on #30
Good job people, a new release would be more than welcome.

[2017-11-04 22:15] jasonmit commented on #30
@fivetanley can you grant @SergeAstapov and myself npm access so we can cut a release?

[2017-11-05 09:27] lolmaus commented on #30
I suggest that we move `dotenv.js` into the `config/` subdir.

[2017-11-05 09:38] lolmaus commented on #30
When I run `ember t -s`, the `dotenv.js` function receives `"development"` as the argument, I expect `"test"`.

[2017-11-05 16:42] jeanduplessis commented on #30
@lolmaus I'm also getting development instead of test. Explicitly setting the environment with ` --environment=test` seems to work for now.

[2017-11-05 18:04] SergeAstapov commented on #30
Hi @lolmaus @jeanduplessis! Thanks for feedback!
I've addressed these in #37 and #38.

[2017-11-08 23:41] oxodesign commented on #30
I have a addon that does set an key back to env. the code is:

[code]

Installed ember-cli-dotenv from master, did `npm cache clean` and `npm install`, when run `ember s` on my app I could not get access to `mySpecialKey`, while the app was running if I changed "config/dotenv.js" looks like the configuration reloades and I can use `mySpecialKey`.

What can I do in this case?

[2017-11-09 13:21] oxodesign commented on #30
I was using `included()`-function on the addon. Moved the logic over to `init()` and it worked :)

[2017-11-10 10:20] egemon opened #40 "Unable to install v2.0"
`ember install ember-cli-dotenv@^2.0.0   `
[code]

[2017-11-10 14:04] SergeAstapov commented on #40
@egemon yeah, version 2.0 wasn't published to npm yet as we need original author for that.
See #30 for background and history.
Could you please do `ember install fivetanley/ember-cli-dotenv#master` for now?

[2017-11-10 14:06] SergeAstapov commented on #30
@fivetanley can you grant @jasonmit and myself npm access so we can cut a release?

[2017-11-11 21:58] kjhangiani commented on #30
@SergeAstapov @jasonmit thanks for the awesome work through this thread - was tracing a few subtle bugs for a while, finally realized it was dotenv, and stumbled on this thread.  After upgrading and migrating, everything works again.

Appreciate all the hard work!

[2017-11-13 19:14] fivetanley commented on #30
@SergeAstapov @jasonmit sorry for the delay, you both have publish rights on npm. thanks so much for your help

[2017-11-13 20:00] SergeAstapov commented on #40
Version 2.0 has been published to npm.

[2017-11-13 20:00] #40 closed

[2017-11-13 20:04] SergeAstapov commented on #30
Thank you @fivetanley! Version 2.0 has been pushed to npm! 🎉

Thank you all for the help, feedback and patience!

[2017-11-13 20:04] #30 closed

[2017-11-15 23:09] jamesdixon commented on #30
Has anyone gotten this updated version to work properly with `ember-cli-deploy`? I keep getting `development` variables rather than my other environments.

[2017-11-16 05:39] jasonmit commented on #28
Should be resolved in 2.0.0

[2017-11-16 05:39] #28 closed

[2017-11-16 05:42] jasonmit commented on #17
@devinus can you add more information?  Unclear what you mean by `exists` checking.

[2017-11-16 05:45] jasonmit commented on #18
Closing since there is nothing actionable here.

[2017-11-16 05:45] #18 closed

[2017-11-30 12:53] ondrejsevcik opened #44 "Ability to check for variable presence"
Hi, it would be nice if there would be an option that ensures that build fails when there is missing environment variable. We do this manually in the ember-cli-build.js at the moment, but I guess this could be a part of this addon.

Basically, when you run `ember b --environment production` it would check if all defined keys in `clientAllowedKeys` are not empty, otherwise it would fail the build.

[2017-11-30 20:14] jasonmit commented on #44
@ondrejsevcik I'd be open to this.  I'd prefer to make it optional and disabled by default to avoid a breaking change in 2.x.

[2017-11-30 22:33] ondrejsevcik commented on #44
I would be more happy if that would be enabled by default, because it's a good practice, but that thing with breaking change sounds reasonable.

[2017-12-01 01:35] jasonmit commented on #44
In 3.0 we can start throwing by default but for now a warning unless your configure it to throw.  I'd like to let 2.0 marinate a bit longer before we jump to 3.0.

[2017-12-01 08:01] ondrejsevcik commented on #44
Yeah, that sounds good to me. I will send PR hopefully in a next few days.

[2017-12-06 09:26] SergeAstapov commented on #44
Closed via #45.

[2017-12-06 09:26] #44 closed

[2017-12-24 10:12] lolmaus opened #46 "`config/dotenv.js` does not respect environment assumed from `ember deploy prod`"
Hi!

This is a follow-up to #30.

I use multiple dotenv files -- one per deploy target. My `config/dotenv.js` has logic to select a specific dotenv file provided in a `DOTENV_FILE` env var (see #25). If `DOTENV_FILE` is empty, then it picks a default one depending on `environment`.

The problem is that `config/dotenv.js` runs before the `ember-cli-deploy` pipeline. It selects the development doten

[2017-12-27 08:52] SergeAstapov commented on #46
@lolmaus unfortunately with Ember CLI >= 2.16 we can not rely on environment detection made by Ember CLI: we have to initialize dotenv configs at `init` stage of addon in order to make environment variables available at `config` stage.
`included` hook is to late for that as discussed in #30.

I'm personally in favor of using `DOTENV_FILE` env var and make it supported by addon itself instead of ha

[2017-12-27 10:11] lolmaus commented on #46
What I want is:

1. Though I [strongly believe](https://lolma.us/en/blog/do-not-confuse-env-for-deploy-target/) in decoupling *build environment* from *deploy target*, I want each environment to be associated with a specific deploy target by default, unless overridden by hand.
2. I want to have one source of truth for selecting environment.

I don't want to end up doing

    DOTENV_FILE=production

[2017-12-27 10:15] lolmaus commented on #46
Well, we're already doing this:

[code]

https://github.com/fivetanley/ember-cli-dotenv/blob/2.0.0/index.js#L58-L61

[2017-12-29 08:03] jasonmit commented on #46
The need to pass `EMBER_ENV` here is an upstream issue in ember-cli and when that's fixed we plan to remove (`_resolveEnvironment`)[https://github.com/fivetanley/ember-cli-dotenv/blob/master/index.js#L67-L86].  Which is why I'm adamant we don't add support adding arg parsing logic that would conflate ember deploy's deploy target with ember-cli's build target.

So for the sake of this discussion, l

[2018-02-13 15:51] xomaczar opened #47 "Release a new version to npm?"

[2018-02-20 17:52] sumeetattree opened #48 "path option doesn't behave well with ember-cli-deploy's development workflow"
I am using this addon with ember-cli-deploy's development workflow. I have 3 different env files for different environments: `.env.deploy.${env}`.

Here's the `config/dotenv.js` contents:
[code]

Running `ember s`  works fine for the development environment but `ember deploy staging` and `ember deploy production` commands seem to not find the correct env file.

Changing the path variable from `./.

[2018-02-21 09:24] sumeetattree commented on #48
Forgot to mention that this is the behavior in 2.0.0

On the master branch `path: '../.env.deploy.${env}'` fails with:
`[ember-cli-dotenv]: ENOENT: no such file or directory, open '../.env.deploy.development'`

[2018-03-13 17:10] jasonmit commented on #47
2.1.0

[2018-03-13 17:10] #47 closed

[2018-03-23 06:55] lolmaus commented on #17
I would like some of my env vars to be optional. In `config/environment.js` I'm providing default values for non-existing variables.

Yet, whenever I run *any* `ember` command in the terminal, I see this:

[code]

It is very annoying.

To work around this, I have to provide empty env vars in every env var that I have (I'm using [per-target](https://lolma.us/en/blog/do-not-confuse-env-for-deploy-ta

[2018-03-23 07:04] jasonmit commented on #17
@lolmaus unsure when I'll get around to it, but will happily review any PRs related to solving this.

[2018-03-26 23:59] xn commented on #48
same

[2018-04-24 22:39] ntodd commented on #17
I agree with @lolmaus that it would be nice to have optional keys. I may have a bit of time to work on this, but there are a few ways this could maybe work:

1. Add a `clientRequiredKeys` property. Keys in `clientRequiredKeys` would be required (fail automatically if missing). Keys in `clientAllowedKeys` would remain optional with a change to no missing key warnings. At this point, I think `failOn

[2018-05-30 21:47] viniciussbs commented on #48
Any news?

[2018-06-01 18:26] LBKinson commented on #48
Same. Updates @fivetanley?

[2018-06-19 17:51] sescobb27 commented on #48
it seems that `env` is not properly set when issuing `ember deploy production` a workaround is specified in this issue https://github.com/fivetanley/ember-cli-dotenv/issues/46

this worked for me
[code]

[2018-06-30 03:08] viniciussbs commented on #48
@sescobb27 where have you put this code?

[2018-07-03 20:21] sescobb27 commented on #48
@viniciussbs in `config/dotenv.js`

[2018-07-05 13:45] viniciussbs commented on #48
Thank you, @sescobb27. I'll give it a try.

[2018-09-05 20:54] SergeAstapov commented on #24
Closed via #50. Published 2.2.0

[2018-09-05 20:54] #24 closed

[2018-09-07 16:35] JibranKalia opened #52 "Started getting this.ui.warn error since yesterday"
[code]

[2018-09-08 02:13] #52 closed

[2018-09-08 02:45] SergeAstapov commented on #52
@JibranKalia 2.2.1 has been published with fix.

[2018-10-11 01:08] jagthedrummer opened #54 "Installation fails with "Cannot read property 'clientAllowedKeys' of undefined""
[code]

[code]

The stack trace from the log file listed above:

[code]

[2018-10-11 01:13] jagthedrummer commented on #54
Looks like maybe installation didn't _fail_, maybe it just complained about the config file not being there yet. I do see changes to `package.json` and `yarn.lock` and find `ember-cli-dotenv` in `node_modules`.

I added this to `config/dotenv.js` and then tried to re-install and everything was fine.

[code]

[code]

[2018-10-11 21:14] jeremyhaile commented on #46
I just spent a lot of time trying to understand why `env` was `development` while I was running `ember deploy production`.  The default behavior is quite unintuitive, especially given that I imagine a primary use of this gem is for production secrets that should be available during a deploy.

[2018-10-23 01:40] brancusi opened #56 "Travis missing ENV vars"
Hi,

Wondering if there is something special I need to be doing when using travis.

Here's what I get even when setting the all the keys in travis.

`WARNING: [ember-cli-dotenv]: Required environment variable`

Any ideas?

[2018-10-23 01:45] SergeAstapov commented on #56
@brancusi haven't used Travis but reading warning message looks like one (or more) of your variables is not set in `.env` file when build is running

[2018-10-24 23:19] brancusi commented on #56
Sorry, this was because travis doesn't include untrusted sources, since this was a pull request it omitted them.

[2018-10-24 23:19] #56 closed

[2018-11-08 16:33] dguayrobotiq opened #57 "Use failOnMissingKey in CI build"
Is there a way to use `failOnMissingKey` option in a CI build so it takes `process.env` variables into account?

If not, that could be an option like `systemvars` in [dotenv-webpack plugin](https://github.com/mrsteele/dotenv-webpack#properties).

[2018-11-08 19:37] SergeAstapov commented on #57
@dguayrobotiq currently `failOnMissingKey ` is not setup that way.
I doubt it's scope for this addon as it's purpose - pull keys from `.env` file and make them available in Ember app.

Sounds like a feature request at first place - fallback to `process.env` if variable can not be found in `.env` file?
And then, once above logic is implemented, `failOnMissingKey` will behave as you expect.

Do I fo

[2018-11-08 19:38] dguayrobotiq commented on #57
@SergeAstapov Yes that would work too.

[2018-11-09 04:19] shanekoss commented on #54
Above still gave same error for me.  I had install version 2.1.0 and then it worked.  Running ember 2.18

[2018-11-15 19:53] dguayrobotiq commented on #57
@SergeAstapov Is this something that could be done or should I work on a PR?

[2018-11-21 04:07] SergeAstapov commented on #57
@dguayrobotiq could you please share a use case where you need this?
A PR would be great!

[2018-11-21 13:41] dguayrobotiq commented on #57
@sandydoo Prevent a CI deployment to go through if an environment variable is missing in the CI (which export environment variables and are accessible from `process.env`). Just like [dotenv-webpack plugin](https://github.com/mrsteele/dotenv-webpack#properties) permits with the `systemvars` option

[2018-11-27 06:37] Uysim commented on #54
Meet the same problem on ember-cli latest

[2019-04-29 19:09] muziejus commented on #54
Ran into the same problem w/ ember-cli 3.9.0-beta.2. @jagthedrummer's fix seems to have worked.

[2019-05-04 01:18] #54 closed

[2019-05-04 01:29] SergeAstapov commented on #54
Fixed in 2.2.2

[2019-06-10 12:55] hakilebara opened #65 "The default lookup path of .env is not documented"
By default `.env` is expected to by located in the `config`folder instead of the root folder of the app. Is this intentional?

[code]

[2019-06-10 18:45] SergeAstapov commented on #65
@hakilebara it is definitely not, thank you for reporting! Created #66 to address this

[2019-06-11 14:39] #65 closed

[2019-06-11 15:39] SergeAstapov commented on #65
Fix released in v2.2.3 and v3.0.0

[2019-11-25 13:41] davideferre opened #67 "Environment not recognized correctly while using ember build --prod"
I have different *.env* files based on environment used but with `ember build --prod` the environment used is *development* instead of *production*.
With `ember build --environment=production` all works as expected.

[2019-11-25 23:06] jasonmit commented on #67
Lets track the upstream issue before making changes:
https://github.com/ember-cli/ember-cli/issues/8922

[2019-11-26 08:37] davideferre commented on #67
I've proposed PR #68 .

[2019-11-26 23:07] #67 closed

[2019-11-26 23:08] jasonmit opened #69 "Fix CI"

[2020-03-23 14:13] emattias opened #86 "env vars not loaded in `.ember-cli.js`"
`process.env` doesnt have any of our dotenv vars in `.ember-cli.js` that we have in the rest of the ember app.

`.ember-cli.js` is executed before our `config/dotenv.js`.

We were able to work around it by doing this. But it would be nice to use `ember-cli-dotenv` like we do for all other env vars :) :

[code]

[2020-03-24 16:21] xtagon commented on #17
It would be nice to be able to specify required vs optional keys in different environments. I have some keys that are required in production but not in dev/test.

[2020-05-28 15:45] jkeen commented on #48
Here I am in 2020 and I had this same puzzling issue. Not sure why it happened in a new ember app but didn't in another one also running dotenv 3, but this was really puzzling and surprising.

The code above helped, but it needed a small modification to support other commands from `ember-cli-deploy` like `ember deploy:list prod`, etc etc

For future confused travelers to this thread or #46

[code]

[2020-07-09 22:39] jrock2004 opened #90 "Use for local development only"
So I want to use .env for local development only. But when my app runs in azure, I want it to read from the azure config settings. Now before I installed your add-on, this worked fine. But not it seems like my project needs a .env file or it breaks. Any ideas?

[2020-09-25 21:28] jrock2004 commented on #90
Anyone?

[2020-09-30 03:01] SergeAstapov commented on #90
hi @jrock2004! Could you please elaborate what you mean by "my app runs in azure"? Do you mean you build an app with Azure as CI build agent?

how did your app pull env variables?

Sorry, need some more info to give an advice.

[2020-09-30 17:23] jrock2004 commented on #90
@SergeAstapov we run our ember app in a docker container that runs on Azure. So when installing the addon, it seems like it requires you to have a .env file or else the app does not work. I have since removed the addon all together as I did not want to cause harm to our dev/qa/prod environments.

So I guess what I am asking is, can there be some way to tell the addon to not use .env file

[2020-11-21 18:59] fivetanley commented on #90
@jrock2004 I think the section for `environment specific use` may meet your use case. Essentially you can check if the `environment` is `production` (or use any other node code you wish) to enable or disable ember-cli-dotenv: https://github.com/fivetanley/ember-cli-dotenv#environment-specific-use

[2020-11-21 19:00] fivetanley commented on #69
fixed in https://github.com/fivetanley/ember-cli-dotenv/pull/93

[2020-11-21 19:00] #69 closed

[2021-02-01 14:29] jrock2004 commented on #90
This worked. I am sorry it took so long, but finally got some time to get back to this

[2021-02-01 14:29] #90 closed